# Default owner for everything in the repo

- @govuk-once/govuk-once-udp-developers 

# Github Actions workflows

/.github/workflows/ @govuk-once/govuk-once-udp-developers 

# Github configuration (dependabot, CODEOWNERS, etc.)

/.github/ @govuk-once/govuk-once-udp-developers 

# CDK Infrastructure

/cdk/ @govuk-once/govuk-once-udp-developers 

# Application source code

/src/ @govuk-once/govuk-once-udp-developers 

# Shared libraries

/libs/ @govuk-once/govuk-once-udp-developers 

# End-to-end tests

/e2e/ @govuk-once/govuk-once-udp-developers 

# Scripts and tooling

/scripts/ @govuk-once/govuk-once-udp-developers 
/git-hooks/ @govuk-once/govuk-once-udp-developers 

# Documentation

/docs/ @govuk-once/govuk-once-udp-developers 
