# Node Files
node_modules/

#Build outputs
build/
dist/

.DS_Store
.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.mda
.github/instructions/nx.instructions.md
modules/terraform.tfstate
modules/terraform.tfstate.backup
